/* Set the entire screen background color to black */
html, body {
  background-color: #111; /* Black background */
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* Center the #root element and style it */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #111; /* Dark gray background */
  color: white;
}

/* Style the card elements */
.card {
  padding: 2em;
  background-color: #222; /* Darker gray background for cards */
  border-radius: 8px;
  margin-bottom: 1rem;
}
