.addThread-form {
  margin: 20px 0;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 150px;
}

.addThread-label {
  margin-bottom: 10px;
  display: block;
  font-weight: bold;
}

.addThread-input,
.addThread-textarea,
.addThread-button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

.addThread-textarea {
  resize: vertical; /* Allow vertical resizing of textarea */
  padding-bottom: 100px;
}

.addThread-button {
  background-color: #0048bdb6;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addThread-button:hover {
  background-color: #0048bd8a;
}

.success-message {
  margin: 10px 0;
  color: green;
}

.error-message {
  margin: 10px 0;
  color: red;
}