.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  color: white;
  overflow-x: show;
  padding-top: 20px;
  border: #111 20px;
  margin-left: 20px;
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #111;
  display: block;
}
.sidenav a:hover {
  color: #e8e8ebda;
}

.mythread p {
  font-weight: bold;
  font-size: 18px;
  margin: 0; 
}
