.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  color: white;
  overflow-x: show;
  padding-top: 20px;
  border: #111 20px;
  margin-left: 20px;
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #111;
  display: block;
}
.sidenav a:hover {
  color: #e8e8ebda;
}

.mythread {
  display: flex; 
  align-items: center; 
}

.mythread p {
  font-weight: bold;
  font-size: 16px;
  margin: 0;
  margin-right: 1;
  padding-right: 2px;
}

.remove-thread-button {
  background-color: #ffffff0c;
  border: none;
  transition: all 0.3s ease;
}

.remove-thread-button:hover {
  transform: scale(1.1);
  background-color: #ffffff1a;
}